@font-face {
  font-family: linotte-light;
  src: url("./font/linotte-light-maisfontes.2d48/linotte-light.otf");
}

body{
  font-family: 'Fontawesome',linotte-light, sans-serif, Arial;
  background-color: white;
}

.app {
  border-radius: 8px;
  margin-bottom: 30px;
}

.header {
  height: 80px;
  width: 100%;
}

.contenedor {
  display: flex;
  flex-direction: row;
  height: 800px;
}

.nav {
  width: 15%;
  height: 100%;
  background-color: #b2f0fa;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  font-size: 25px;
}

.table {
  width: 85%;
  height: 100%;
}

table {
  border-collapse: collapse;
  padding: 10px;
}

th {
  border-bottom: 5px solid rgb(196, 196, 196);
  padding: 10px;
  font-size: 18px;
}

td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even){
  background-color: #b2f0fa;
}

tr:hover td{
  background-color: #1de0ff;
}

.styleEdit {
  background: none;
  border: none;
  font-size: 18px;
  width: 25px;
  height: 23px;
}

.styleEdit:hover {
  color: blue;
}

.styleTrash {
  background: none;
  border: none;
  font-size: 18px;
  width: 25px;
  height: 23px;
}

.styleTrash:hover {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #87f5e2;
  align-items: center;
  height: 45%;
}

label {
  margin-top: 10px;
  font-size: 20px;
}

input[type="text"],
input[type="email"] {
  width: 60%;
  height: 55px;
  border-radius: 4px;
  border: 0px;
}

input[type="submit"] {
  width: 80px;
  height: 83px;
  margin: 9px 0px;
  border-radius: 4px;
  border: 0;
  background-color: rgb(53, 191, 255);
  cursor: pointer;
  font-size: 17px;
}

input[type="submit"]:hover {
  background-color: rgb(31, 231, 31);
  color: white;
}
