@font-face {
  font-family: linotte-light;
  src: url("./font/linotte-light-maisfontes.2d48/linotte-light.otf");
}

body{
  font-family: linotte-light, sans-serif, Arial;
  background-color: white;
}

.app {
  border-radius: 8px;
  margin-bottom: 30px;
}

.header {
  height: 80px;
  width: 100%;
}

.contenedor {
  display: flex;
  flex-direction: row;
  height: 800px;
}

.nav {
  width: 25%;
  height: 100%;
  background-color: #b2f0fa;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  font-size: 25px;
}

.table {
  width: 75%;
  height: 100%;
}

table {
  border-collapse: collapse;
  padding: 10px;
}

th {
  border-bottom: 5px solid rgb(196, 196, 196);
  padding: 10px;
  font-size: 18px;
}

td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even){
  background-color: #b2f0fa;
}

tr:hover td{
  background-color: #1de0ff;
}